#NiuBi {
  width: auto;
  height: 400px;
}
#NiuBi .BiLiang {
  width: 600px;
  height: 200px;
}
#NiuBi .BiLiang .studyNot {
  width: 100px;
  height: 30px;
  background-color: pink;
}
#NiuBi .BiLiang .studyNot a {
  line-height: 30px;
}
